@import '../../../styles/variables';

.progress-bar {
  height: 1px;
  background-color: $border-color;
  position: relative;
  overflow: hidden;

  &__fill {
    height: 100%;
    background-color: $primary-color;
    transition: width 0.3s ease;
  }
}

